name: ci-test-packaging.yml
on:
  push:
    branches:
      - main
    paths:
      - pyproject.toml

jobs:
    test-packaging:
      name: Test Packaging
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-python@v5
          with:
            python-version: '3.12'
            cache: 'pip'

        - name: Install Poetry
          run: pipx install poetry

        - name: Setup Poetry cache
          uses: actions/cache@v4
          with:
            path: ~/.cache/pypoetry
            key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}

        - name: Install Dependencies
          run: poetry install
